body, html, #root, .App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

a:not(.dropdown-item) {
    color: #44a3f5 !important;
}

.privThingIntroduction {
    margin: 5px 0 10px 0;
    font-size: 14px !important;
}

.privThingGitHubInfo {
    padding: 20px 0 0 0;
    text-align: center;
    display: table-cell;
}

.notificationText {
    font-size: 16px !important;
}

.listItemBody [data-content]:before {
    content: attr(data-content);
}

.navLink {
    text-align: center;
    flex: 1;
    color: white;
    cursor: pointer;
}

.navLink:hover {
    color: #83c127;
}

.blinkNotepadBorder {
    -moz-animation: blinkGreen .3s infinite linear;
    -o-animation: blinkGreen .3s infinite linear;    
    -webkit-animation: blinkGreen .3s infinite linear;
    animation: blinkGreen .3s infinite linear;
    animation-iteration-count: 1;
}

.brandContainer {
    width: 20% !important;
    padding: 0 20px 0 20px !important;
    /* text-align: center !important; */
    /* margin: 0px !important; */
    /* display: block !important; */
}

.itemsResizeWrapper {
    display: flex;
}

.nonTextSelectable {
    user-select: none;
}

.items {
    background-color: #002f5f;
    color: white;
    padding: 5px;
    display: flex;
    flex: 1;
    flex-direction: column;
    transition: all .2s ease-in-out;
}

.editItemSpace {
    padding: 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: all .1s ease-in-out;
    font-size: 10pt;
    word-break: break-all;
    margin: 2px 0 -10px 5px;
    border-bottom: 2px solid #999999;
    color: #999999;
    width: 80%;
}

.editItemSpace.isActive {
    /* font-weight: 700; */
    border-bottom: 2px solid #002f5f;
    background-color: #002f5f;
    color: white;
    border-radius: 5px;
}

.itemTab {
    padding: 5px;
    text-align: center;
    display: inline-block;
    border: 1px solid #cecece;
    border-radius: 5px;
    cursor: pointer;
    transition: all .1s ease-in-out;
    font-size: 10pt;
    word-break: break-all;
    padding-right: 25px;
    margin: 2px 0 0 5px;
}

.itemTab:hover {
    background: #83c127;
    color: white;
}

.itemTab.selected {
    background: #427843;
    color: white;
}

.itemTab.isDragged {
    background-color: #0d6efd;
    color: white;
}

.contextMenu {
    padding: 2px;
    background: white;
    border: 1px solid #cecece;
    border-radius: 5px;
    position: absolute;
    z-index: 999;
}

.contextMenuItem {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
    margin: 0 0 2px 0;
}

.contextMenuItem:hover {
    background: #83c127;
    color: white;
}

.dropdown-item {
    padding: 10px !important;
}

.navbarTitle {
    display: inline;
    font-size: 16px;
    padding: 2px 0 0 5px;
    color: white;
}

.itemTabIconAdd,
.itemTabIconRemove {
    margin: 0px 5px 0px 5px !important;
    width: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.formSection {
    padding: 20px;
    margin: 10px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}

.itemTabIconRemove {
    margin: 0px 5px 0px -25px !important;
}

.itemTabIconResize {
    margin: 5px 0px 0px 0px !important;
    cursor: pointer;

}

.itemTabIconResize:hover,
.itemTabIconAdd:hover {
    color: #427843;
}

.itemTabIconRemove:hover {
    color: red;
}

.tabBarShrinkIcon {
    cursor: pointer;
}

.singleLineTabs {
    height: 40px;
    overflow: auto;
}

/* 
.items:hover {
    width: 50%;
    transition-delay:1s;
} */

.itemsContainer {
    height: 200px;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px -20px -15px 0px;
    word-break: break-all;
}

.items > span {
    padding-bottom: 20px;
}

.listItem {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ffffff80;
    display: flex;
    transition: all .1s ease-in-out;
}

.listItem.selected {
    border-bottom: 1px solid #83c127;
}

.evenRowDark {
    background: #0000000D;
}

.successRow {
    background: #83c1270D;
}

.failureResultIcon {
    color: rgb(146, 12, 12);
    margin: 0 0 0 5px;
    height: 20px;
    float: right;
}

.successResultIcon {
    color: #83c127;
    margin: 0 0 0 5px;
    height: 20px;
    float: right;
}

.listItem.evenRow {
    background: #ffffff1A;
}

.listItem:hover {
    background: #ffffff33;
    border-bottom: 1px solid #ffffff;
}

.listItem.selected {
    background: #83c12780;
}

.listItemIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.listItemBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listItemBody .name {
    font-weight: 700;
}

.listItemBody .path {
    font-size: 8pt;
    color: #ffffff80;
}

.title {
    font-size: 30px;
}

.hintBar {
    flex: 1;
    padding: 5px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
}

.hintBarText {
    flex: 1;
    color: #666666;
    text-align: center;
    padding-top: 4px;
}

.home {
    display: flex;
    flex: 1;
}

.homeContainer {
    /* display: flex; */
    flex: 1;
    /* padding: 20px; */
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    flex-flow: column;
} 

.formGroupContainer {
    padding-bottom: 10px;
}

.notepadActive {
    border: 2px solid #002f5f;
    border-radius: 5px;
}

.notepadInactive {
    border: 2px solid #f2f2f2;
    border-radius: 5px;
}

.flexStretch {
    flex: 1;
}

.flexStretch .formGroup,
.flexStretch .formGroup textarea {
    height: 100%;
}

.notesSpacesContainer {
    display: flex;
    flex-flow: row;
    height: 100%;
} 

.noteSpaceContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all .2s ease-in-out;
}

.noteContainer {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    padding: 20px 20px 0 20px;
} 

.noteInputFields {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.showItemsButton {
    display: none !important;
}

label.sectionLabel,
label.upperLabel {
    margin-left: 10px;
    position: absolute;
    margin-top: -6px;
    background: #FFFFFFE6;
    border-radius: 5px;
    padding: 2px;
    font-size: 8pt;
    color: #666666;
    line-height: 15px;
    height: 15px;
    z-index: 10;
}

.clearInput {
    cursor: pointer;
}

.filledInput {
    border:2px solid #83c127 !important;
}

.resizer {
    display: flex; 
    background: rgb(100 97 201); 
    padding: 2px;
    color: white;
    cursor: pointer;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}

.resultsItem {
    padding: 5px;
}

.smallScreenItem {
    display: none;
}

.largeCheckbox label {
    padding: 0 0 0 20px;
}

.largeCheckbox input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 8px;
}

.imageRotateHorizontal{
    -moz-animation: spinHorizontal .5s infinite linear;
    -o-animation: spinHorizontal .5s infinite linear;    
    -webkit-animation: spinHorizontal .5s infinite linear;
    animation: spinHorizontal .5s infinite linear;
    animation-iteration-count: 1;
}

.parentFiller {
    position: relative;
    flex: 1;
    height: 100%;
    margin: 0 40px 0 0 ;
    display: flex;
}

.childCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.newBig {
    cursor: pointer;
    text-align: center;
    padding: 60px 30px;
    border-radius: 10px;
}

.newBig:hover {
    background-color: #ffffff10;
}

.cm-focused {
    outline: none !important;
}

@keyframes spinHorizontal {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

@keyframes blinkGreen { 50% { background-color:#42784380; }  }

 /* Media Queries */
 @media (max-width: 771px) {
    /* .resizer {
        display: none;
    }

    .items {
      width: 40%;
      padding: 10px;
    } */

    /* .items:hover {
        width: 60%;
    } */
  
    .items > span {
      font-size: 10px;
    }

    .itemTab {
        font-size: 10px;
        padding: 3px 25px 3px 3px;
    }

    .homeContainer {
        width: 58%;
        padding: 0;
    }
  
    .title {
      font-size: 18px !important;
    }

    .noteInputFields {
        flex-direction: column;
    }
}

.smallScreenHeaderItem {
    display: none !important;
}

@media (max-width: 500px) {
    .bigScreenHeaderItem,
    .resizer {
        display: none;
    }

    .smallScreenHeaderItem {
        display: block !important;
    }
    
    .itemsResizeWrapper {
        display: none;
    }

    .smallScreenItem {
        display: block;
    }

    /* .items:hover {
        width: unset;
    } */

    .fullItemsDisplay {
        display: flex !important;
    }
    
    .homeContainer {
        width: 100%;
        padding: 2px;
    }

    .dontDisplay {
        display: none;
    }

    .brandContainer {
        margin-right: 10px !important;
    }

    .showItemsButton {
        display: block !important;
    }
}


.loading-icon {
    color: teal;
    font-size: 2rem;
    animation: animate 2s infinite;
  }
  
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }